#zoia_hosting_tabs>li>a {
	text-decoration: none;
}

#zoiaAccountForm_passwordConfirm {
	margin-left: 5px;
}

#topup_captcha {
    width: 100px;
    text-align: center;
    font-size: 120%;
    margin-bottom: 6px;
}

.topup-captcha-img {
	border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer; 
    height: 43px;
    margin-bottom: 8px
} 

#zoia_btn_topup {
	margin-top: 2px;
}

.zoia-topup-currency {
}