.hostingBtnSelectAll,
.hostingBtnSelectNone {
    padding: 9px;
}

#hosting_actions {
	width: 90px;
}

#zoiaSpinnerMain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .7;
}