.hostingBtnSelectAll,
.hostingBtnSelectNone {
    padding: 9px;
}

#hosting_actions {
	width: 90px;
}

#zoiaSpinnerWhite {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: 2000;
}

.zoia-spinner>svg {
    width: 15px;
    margin-top: 4px;
    margin-right: 5px
}