<!DOCTYPE html>
<html lang="{{ i18n.getLocale() }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/zoia/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/zoia/core/css/zoia.css">
    <title>{{ err.message }}</title>
</head>

<body>
    <div class="container zoia-vertical-center text-center">
        <div>
            <h1>{{ err.status }}</h1>
            <p>{{ err.message }}</p>
        </div>
    </div>
    <!-- <script src="/zoia/jquery/jquery.min.js"></script>
    <script src="/zoia/tether/tether.min.js"></script>
    <script src="/zoia/bootstrap/js/bootstrap.min.js"></script> -->
</body>

</html>
