<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ moduleName }} | {{ i18n.__(locale, 'Admin Panel') }}</title>
    <link rel="stylesheet" href="/zoia/3rdparty/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="/zoia/3rdparty/uikit/css/uikit.min.css" />
    <link rel='stylesheet' href='/zoia/3rdparty/perfect-scrollbar/css/perfect-scrollbar.min.css' />
    <link rel="stylesheet" href="/zoia/core/css/panel.css">
</head>

<body>
    <nav class="za-navbar-container zoia-panel-navbar" za-navbar="offset:-16" za-sticky>
        <div class="za-navbar-left">
            <a class="za-navbar-toggle za-hidden@s" href="#zoia_panel_offcanvas" za-toggle za-navbar-toggle-icon></a>
            <div class="za-navbar-item za-logo zoia-panel-logo">
                <a href="/admin"><img src="/zoia/core/images/zoia_logo_panel.png" alt="{{ i18n.__(locale, 'Zoia') }}"></a>
            </div>
        </div>
        <div class="za-navbar-right">
            <ul class="za-navbar-nav">
                <li>
                    <a href="#">{{ auth.username }}&nbsp;&#x25BE;</a>
                    <div class="za-navbar-dropdown">
                        <ul class="za-nav za-navbar-dropdown-nav">
                            <li><a href="/auth/logout">{{ i18n.__(locale, 'Log out') }}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="zoia_panel_offcanvas" za-offcanvas="mode:none;overlay:true">
        <div class="za-offcanvas-bar zoia-panel-offcanvas"></div>
    </div>
    <div class="za-grid-small" za-grid>
        <div class="za-width-small zoia-panel-nav-col za-visible@s">
            <div class="zoia-panel-nav-wrap">
                <ul class="za-nav za-nav-default zoia-nav-menu">{% for item in modules %}
                    <li id="admin-nav-item-{{ item.id }}"><a href="{{ item.url }}">{% if item.icon %}<div za-icon="icon: {{ item.icon }}"></div>&nbsp;{% endif %}{{ item.title[locale] }}</a></li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="za-width-expand zoia-panel-nav-content">
            <div class="zoia-panel-nav-content-wrap">
                {{ data }}
            </div>
        </div>
    </div>
    <script src="/zoia/3rdparty/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/uikit/js/uikit.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/uikit/js/uikit-icons.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script>
    $('#admin-nav-item-{{ moduleId }}').addClass('za-nav-active');
    $('.zoia-panel-offcanvas').html($('.zoia-panel-nav-col').html());
    $('.zoia-panel-nav-col').height($(window).height() - $('.zoia-panel-navbar').height());
    $('.zoia-panel-nav-col').perfectScrollbar();
    $(window).resize(function() {
        $('.zoia-panel-nav-col').height($(window).height() - $('.zoia-panel-navbar').height());
        $('.zoia-panel-nav-col').perfectScrollbar('update');
    });
    </script>
</body>

</html>
