<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/zoia/3rdparty/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/zoia/3rdparty/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/zoia/3rdparty/perfect-scrollbar/css/perfect-scrollbar.min.css' />
    <link rel="stylesheet" href="/zoia/core/css/panel.css">
    <title>{{ moduleName }} | {{ i18n.__(locale, 'Admin Panel') }}</title>
</head>

<body>
    <nav class="navbar admin-navbar-top navbar-inverse fixed-top">
        <span class="navbar-brand"><span class="hidden-md-up admin-nav-toggle"><i class="fa fa-bars fa-lg admin-nav-toggle-icon"></i>&nbsp;&nbsp;</span>{{ i18n.__(locale, 'Zoia') }}</span>
    </nav>
    <div class="container-fluid admin-container-fluid h-100">
        <div class="row admin-main-row">
            <div class="col-md-auto admin-navbar hidden-sm-down">
                <div class="admin-navbar-wrap">
                    <ul class="nav flex-column">
                        {% for item in modules %}<li class="nav-item admin-nav-item" id="admin-nav-item-{{ item.id }}">
                            <a class="nav-link" href="{{ item.url }}">{% if item.icon %}<i class="fa fa-{{ item.icon }}"></i>&nbsp;{% endif %}{{ item.title[locale] }}</a>
                        </li>{% endfor %}
                    </ul>
                </div>
                <div class="admin-navbar-rsp"></div>
            </div>
            <div class="col admin-content">
                {{ data }}
                <div class="admin-content-shadow admin-content-shadow-hidden"></div>
            </div>
        </div>
    </div>
    <script src="/zoia/3rdparty/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/tether/tether.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/zoia/3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/zoia/core/js/panel.js" type="text/javascript"></script>
    <script type="text/javascript">
    $('#admin-nav-item-{{ moduleId }}').addClass('admin-nav-item-active');
    </script>
</body>

</html>
