<form id="testForm">
</form>

<!-- <div id="wrapTable">
    <h1>{{ i18n.__(locale, 'title')}}</h1>
    <div class="za-grid za-grid-small">
        <div>
            <ul class="za-iconnav za-hidden@m">
                <li>
                    <button za-icon="icon: plus" class="za-icon-button zoiaAdd" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon: trash" class="za-icon-button zoiaDelete" title="{{ i18n.__(locale, 'Delete')}}" za-tooltip="pos: bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon: check" class="za-icon-button usersBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos: bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon: close" class="za-icon-button usersBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos: bottom-right"></button>
                </li>
            </ul>
            <div class="za-button-group za-margin-right za-visible@m">
                <button class="za-button za-button-success zoiaAdd">{{ i18n.__(locale, 'Add')}}</button>
                <button class="za-button za-button-danger zoiaDelete">{{ i18n.__(locale, 'Delete')}}</button>
            </div>
            <div class="za-button-group za-visible@m">
                <button class="za-button za-button-default usersBtnSelectAll">{{ i18n.__(locale, 'Select all')}}</button>
                <button class="za-button za-button-default usersBtnSelectNone">{{ i18n.__(locale, 'Select none')}}</button>
            </div>
        </div>
        <div class="za-width-expand">
            <div class="za-inline za-float-right">
                <a class="za-form-icon za-form-icon-flip" za-icon="icon: close"></a>
                <input type="text" class="usersSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
            </div>
        </div>
    </div>
    <div class="usersPagination za-margin-top noselect"></div>
    <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="users">
        <thead class="noselect">
            <tr>
                <th id="usersID" class="za-table-shrink"></th>
                <th id="users_username" class="za-table-shrink">{{ i18n.__(locale, 'Username')}}</th>
                <th id="users_email">{{ i18n.__(locale, 'E-mail')}}</th>
                <th id="users_status">{{ i18n.__(locale, 'Status')}}</th>
                <th id="users_actions">{{ i18n.__(locale, 'Actions')}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="usersPagination za-margin noselect"></div>
</div>
<div id="zoiaEditDialog" style="display:none">
    <div class="za-modal-dialog">
        <div id="zoiaEditDialogLoading">
            <div class="zoiaEditDialogLoadingSpinnerWrap">
                <div za-spinner></div>
            </div>
        </div>
        <div id="zoiaEditDialogForm" style="display:none">
            <div class="za-modal-header">
                <h2 class="za-modal-title" id="editDialogHeader"></h2>
            </div>
            <form id="zoia_edituser_form" class="za-form-stacked">
                <div class="za-modal-body">
                    <div class="za-alert-danger za-margin" id="zoiaEditDialogFormError" za-alert style="display:none"></div>
                    <div class="za-margin-bottom">
                        <label class="za-form-label" for="edit_username">{{ i18n.__(locale, 'Username') }}:</label>
                        <div class="za-form-controls">
                            <input class="za-input za-width-medium zoia-form-field" id="edit_username" type="text" placeholder="" autofocus>
                            <div class="zoia-help-text">{{ i18n.__(locale, 'Latin characters and numbers, length: 3-20') }}</div>
                        </div>
                    </div>
                    <div class="za-margin">
                        <label class="za-form-label" for="edit_email">{{ i18n.__(locale, 'E-mail') }}:</label>
                        <div class="za-form-controls">
                            <input class="za-input za-width-medium zoia-form-field" id="edit_email" type="email" placeholder="">
                            <div class="zoia-help-text">{{ i18n.__(locale, 'Example: user@domain.com') }}</div>
                        </div>
                    </div>
                    <div class="za-margin">
                        <label class="za-form-label" for="edit_password">{{ i18n.__(locale, 'Password') }}:</label>
                        <div class="za-flex">
                            <div class="zoia-field-wrap">
                                <input class="za-input zoia-form-field" id="edit_password" type="password" placeholder="">
                            </div>
                            <div>
                                <input class="za-input zoia-form-field" id="edit_passwordConfirm" type="password" placeholder="">
                            </div>
                        </div>
                        <div class="zoia-help-text">{{ i18n.__(locale, 'Minimal length: 5 characters, type twice to verify') }}</div>
                    </div>
                    <div class="za-margin">
                        <label class="za-form-label" for="edit_status">{{ i18n.__(locale, 'Status') }}:</label>
                        <select class="za-select za-form-width-medium zoia-form-field" id="edit_status">
                            {% for item in i18n.__(locale, 'statuses') %}
                            <option value="{{ loop.index0 }}">{{ item }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="za-modal-footer za-text-right">
                    <button class="za-button za-button-default za-modal-close za-edit-dialog-btn" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
                    <button class="za-button za-button-primary za-edit-dialog-btn" id="zoiaEditDialogSave" type="submit">{{ i18n.__(locale, 'Save')}}</button>
                    <div za-spinner style="float:right;display:none" id="zoiaEditDialogSpinner"></div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<script type="text/javascript">
var lang = {{ lang }};
</script>
