<h1>{{ i18n.__(locale, 'title')}}</h1>
<div class="za-grid za-grid-small">
    <div>
        <ul class="za-iconnav za-hidden@m">
            <li>
                <button za-icon="icon: plus-circle; ratio: 1.8" class="usersBtnSelectAll"></button>
            </li>
            <li>
                <button za-icon="icon: minus-circle; ratio: 1.8" class="usersBtnSelectNone"></button>
            </li>
        </ul>
        <div class="za-button-group za-visible@m">
            <button class="za-button za-button-default usersBtnSelectAll">{{ i18n.__(locale, 'Select all')}}</button>
            <button class="za-button za-button-default usersBtnSelectNone">{{ i18n.__(locale, 'Select none')}}</button>
        </div>
    </div>
    <div class="za-width-expand">
        <div class="za-inline za-float-right">
            <span class="za-form-icon" za-icon="icon: search"></span>
            <input type="text" class="usersSearchInput za-input za-width-medium">
        </div>
    </div>
</div>
<div class="za-overflow-auto">
    <div class="usersPagination za-margin-top noselect"></div>
    <table class="za-table za-table-divider za-table-striped za-table-hover" id="users">
        <thead class="noselect">
            <tr>
                <th id="usersID" style="width:15px"></th>
                <th id="users_username">{{ i18n.__(locale, 'Username')}}</th>
                <th id="users_email">{{ i18n.__(locale, 'E-mail')}}</th>
                <th id="users_status">{{ i18n.__(locale, 'Status')}}</th>
                <th id="users_actions" style="width:100px" class="za-width-small">{{ i18n.__(locale, 'Actions')}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="usersPagination za-margin noselect"></div>
