<div id="wrapTable">
    <h1>{{ i18n.__(locale, 'title')}}</h1>
    <div class="za-grid za-grid-small">
        <div>
            <ul class="za-iconnav za-hidden@m">
                <li>
                    <button za-icon="icon:plus" class="za-icon-button zoiaAdd" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:trash" class="za-icon-button zoiaDeleteButton" title="{{ i18n.__(locale, 'Delete')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:check" class="za-icon-button pagesBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:close" class="za-icon-button pagesBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <div class="za-inline">
                        <button za-icon="icon:cog" class="za-icon-button pagesBtnSettings" title="{{ i18n.__(locale, 'Settings')}}" za-tooltip="pos:bottom-right"></button>
                        <div za-dropdown="mode:click">
                            <div class="za-width-1-1">
                                <ul class="za-nav za-nav-default zoia-nav-default">
                                    <li><a href="#" class="pagesBtnRepair">{{ i18n.__(locale, 'Repair database')}}</a></li>
                                    <li><a href="#" class="pagesBtnRebuild">{{ i18n.__(locale, 'Re-build URL cache')}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="za-button-group za-margin-right za-visible@m">
                <button class="za-button za-button-success zoiaAdd">{{ i18n.__(locale, 'Add')}}</button>
                <button class="za-button za-button-danger zoiaDeleteButton">{{ i18n.__(locale, 'Delete')}}</button>
            </div>
            <div class="za-button-group za-visible@m">
                <button class="za-button za-button-default pagesBtnSelectAll">{{ i18n.__(locale, 'Select all')}}</button>
                <button class="za-button za-button-default pagesBtnSelectNone">{{ i18n.__(locale, 'Select none')}}</button>
            </div>
            <div class="za-button-group za-visible@m">
                <div class="za-inline">
                    <button class="za-button za-button-default pagesBtnSettings"><span za-icon="icon:cog"></span></button>
                    <div za-dropdown="mode:click">
                        <div class="za-width-1-1">
                            <ul class="za-nav za-nav-default zoia-nav-default">
                                <li><a href="#" class="pagesBtnRepair">{{ i18n.__(locale, 'Repair database')}}</a></li>
                                <li><a href="#" class="pagesBtnRebuild">{{ i18n.__(locale, 'Re-build URL cache')}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="za-width-expand za-visible@m">
            <div class="za-inline za-float-right">
                <a class="za-form-icon za-form-icon-flip pagesSearchInputClear" za-icon="icon: close"></a>
                <input type="text" class="pagesSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
            </div>
        </div>
    </div>
    <div>
        <div class="za-inline za-margin-top za-hidden@m">
            <a class="za-form-icon za-form-icon-flip pagesSearchInputClear" za-icon="icon: close"></a>
            <input type="text" class="pagesSearchInput za-input" placeholder="{{ i18n.__(locale, 'Search')}}">
        </div>
    </div>
    <div class="pagesPagination za-margin-top noselect"></div>
    <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="pages">
        <thead class="noselect">
            <tr>
                <th id="pagesID" class="za-table-shrink"></th>
                <th id="pages_folder" class="za-table-shrink">{{ i18n.__(locale, 'Folder')}}</th>
                <th id="pages_name" class="za-table-shrink">{{ i18n.__(locale, 'Name')}}</th>
                <th id="pages_title">{{ i18n.__(locale, 'Title')}}</th>
                <th id="pages_status" class="za-table-shrink">{{ i18n.__(locale, 'Status')}}</th>
                <th id="pages_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagesPagination za-margin noselect"></div>
</div>
<div id="zoiaEdit" style="display:none">
    <h1 id="zoiaEditHeader"></h1>
    <ul za-tab id="zoiaEditLanguages"></ul>
    <div class="za-fieldset za-margin-bottom zoia-edit-languages-area">
        <label>
            <input class="za-checkbox" type="checkbox" checked id="zoiaEditLanguageCheckbox">&nbsp;{{ i18n.__(locale, 'Enable language')}}
        </label>
    </div>
    <form id="editForm">
    </form>
</div>
<div id="zoiaFoldersDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Folders')}}</h2>
        </div>
        <div class="za-modal-body">
            <div class="za-button-group">
                <button class="za-button za-button-default zoia-folders-btn" id="zoiaFoldersAdd"><span za-icon="icon:plus"></span></button>
                <button class="za-button za-button-default zoia-folders-btn" id="zoiaFoldersEdit"><span za-icon="icon:pencil"></span></button>
                <button class="za-button za-button-danger zoia-folders-btn" id="zoiaFoldersDelete"><span za-icon="icon:trash"></span></button>
            </div>
            <div class="za-button-group">
                <button class="za-button za-button-secondary zoia-folders-btn-revert" id="zoiaFoldersRevert"><span za-icon="icon:reply"></span></button>
            </div>
            <div id="zoia_folders_tree"></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-folders-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-folders-dialog-button" id="zoiaFoldersDialogButton" type="button">{{ i18n.__(locale, 'Select')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaFoldersDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaRepairDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Repair database')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'Repair database and move missing items to the following folders')}}:</p>
            <div id="zoia_repair_tree"></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-repair-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-repair-dialog-button" id="zoiaRepairDialogButton" type="button">{{ i18n.__(locale, 'Select')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaRepairDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaFolderEditDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Edit Folder')}}</h2>
        </div>
        <form id="editFolderForm">
        </form>
    </div>
</div>
<div id="zoiaDeleteDialog" style="display:none">
    <div class="za-modal-dialog" za-overflow-auto>
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Delete')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'The following page(s) will be removed from the database')}}:</p>
            <ul class="za-list za-list-striped" id="zoiaDeleteDialogList"></ul>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-delete-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-delete-dialog-button" id="zoiaDeleteDialogButton" type="button">{{ i18n.__(locale, 'Delete')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaDeleteDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaSpinnerDialog" class="za-flex-top" style="display:none">
    <div class="za-margin-auto-vertical zoia-spinner-dialog">
        <span za-spinner style="color:#fff"></span>
    </div>
</div>
<script type="text/javascript">var lang={{ lang }};var langs={{ langs }};var foldersData={{ folders }};</script>