#zoia_ct_btn_create_spinner>svg {
    width: 15px;
    margin-top: -3px;
    margin-right: 5px;
}

.za-notification-message {
    opacity: 1;
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    text-align: center;
}

.zoia-ticket-title {
	font-size: 180%;
}

.zoia-reply-msg {
	background: #ffffef;
	border: 1px solid #eee;
}

.zoia-attachments-wrap {
}

.zoia-attachment-delete {
	cursor: pointer;
}