body {
    align-items: center;
}

body,
html {
    height: 100%;
    background: #ECF0F1;
}

.zoia-logo {
    text-align: center;
    margin-bottom: 10px;
}

.za-input:focus:not(.za-form-danger) {
    border: 1px solid #5B7876;
}

.zoia-signin-wrap {
    text-align: center;
}

.zoia-links > a:hover,
.zoia-links > a:link,
.zoia-links > a:focus,
.zoia-links > a:active {
    color: #3E606F;
}

.zoia-info-div {
    text-align: center;
    font-size: 50%;
    color: #666;
    margin-top: 5px;
}

.formError {
    font-size: 60%;
    margin-bottom: 10px;
    margin-top: -5px;
    color: #B9121B;
    display: none;
}

.zoia-links {
    color: #aaa;
    text-align: center;
    font-size: 80%;
}

.zoia-links > a {
    color: #444;
}

.zoia-spinner {
    display: none;
}

.zoia-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zoia-spinner .zoia-spinner-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.zoia-spinner .zoia-spinner-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.zoia-auth-captcha-wrap {
    margin-bottom: -10px;
}

.zoia-auth-captcha {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#captcha {
    height: 50px;
    width: 80px;
    text-align: center;
}

#captchaError {
    margin-top: -20px;
}