.za-input:focus:not(.za-form-danger) {
    border: 1px solid #5B7876;
} 

.zoia-spinner {
    display: none;
}

.zoia-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zoia-spinner .zoia-spinner-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.zoia-spinner .zoia-spinner-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.zoia-captcha-img-wrap {
    margin-bottom: -10px;
}

.zoia-captcha-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#zoiaRegister_captcha {
    height: 50px;
    width: 80px;
    text-align: center;
}

#zoiaRegister_passwordConfirm {
    margin-left: 5px;
}

.zoia-help-text {
    font-size: 75%;
}