#zoiaRegisterSpinner {
    margin-bottom: 5px;
}

.zoiaRegister-captcha-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#zoiaRegister_captcha {
    height: 50px;
    width: 80px;
    text-align: center;
}

#zoiaRegister_passwordConfirm {
    margin-left: 5px;
}

.zoiaRegister-error-text {
    margin-top: 5px;
}

.zoiaRegister-error-text > span {
    padding: 0 3px 0 3px;
    border-radius: 3px;
    font-size: 90%;
}