#zoiaResetSpinner {
    margin-bottom: 5px;
}

.zoiaReset-captcha-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#zoiaReset_captcha {
    height: 50px;
    width: 80px;
    text-align: center;
}

.zoiaReset-error-text {
    margin-top: 5px;
}

.zoiaReset-error-text > span {
    padding: 0 3px 0 3px;
    border-radius: 3px;
    font-size: 90%;
}

.za-notification-message {
    opacity: 1;
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    text-align: center;
}