#zoiaResetConfirmSpinner {
    margin-bottom: 5px;
}

#zoiaResetConfirm_passwordConfirm {
    margin-left: 5px;
}

.zoiaResetConfirm-error-text {
    margin-top: 5px;
}

.zoiaResetConfirm-error-text > span {
    padding: 0 3px 0 3px;
    border-radius: 3px;
    font-size: 90%;
}