<article class="za-article">
    <h1 class="za-article-title"><a class="za-link-reset" href="">{{ item.lang[locale].title }}</a></h1>
    <p class="za-article-meta">
        <ul class="za-breadcrumb">
            <li><a href="{{ uprefix }}{{ prefix }}">{{ i18n.__(locale, 'Portfolio')}}</a></li>
            <li><span>{{ item.lang[locale].short }}</span></li>
        </ul>
    </p>
    <p class="za-text-lead">{{ i18n.__(locale, 'What was to be done')}}: {{ item.lang[locale].task }}</p>
    <p>{{ item.lang[locale].desc }}</p>
    <p>{{ item.lang[locale].process }}</p>
    {% if item.screenshots.length > 0 %}
    {% for pic in item.screenshots %}
    <div class="za-flex za-flex-vertical">
        <div><img src="/portfolio/static/images/large/{{ pic }}"></div>
    </div>
    {% endfor %}
    {% endif %}
</article>