.review-bubble {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFF;
}

.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #FFF transparent transparent transparent;
}

.reviewtext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.reviewtext p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.zoia-reviews-previous {
	font-size: 160%;
}

.zoia-reviews-previous > a {
	text-decoration: none;
}

.rf-captcha-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#rf_captcha {
    height: 50px;
    width: 80px;
    text-align: center;
} 

.za-alert-success > p {
	color: #444;
}

.za-notification-message {
    opacity: 1;
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    text-align: center;
}