<tr>
    <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
        <p>{{ i18n.__(locale, 'This is a password reset confirmation mail.') }}</p>
        <p>{{ i18n.__(locale, 'If you didn\'t request to reset a password of your account, just ignore this mail. If you wish to reset your password, please click the button below:') }}</p>
    </td>
</tr>
<tr>
    <td align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="padding-top: 25px;" class="padding">
                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                        <tr>
                            <td align="center" style="border-radius: 3px;" bgcolor="#374140"><a href="{{ url }}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #374140; display: inline-block;" class="mobile-button">{{ i18n.__(locale, 'Reset password') }}</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
