<div class="zoia-res-header">
    <h1>{{ i18n.__(locale, 'Reset password') }}</h1>
</div>
<form id="zoia-reset-form">
    <div class="form-group">
        <label for="email">{{ i18n.__(locale, 'E-mail') }}:</label>
        <div id="emailError" style="display:none" class="formError badge badge-danger"></div>
        <input type="email" class="zoia-reset-field form-control col-lg-5 col-md-8 col-sm-12" id="email" aria-describedby="emailHelp" autofocus>
        <small id="emailHelp" class="form-text text-muted">{{ i18n.__(locale, 'Example: user@domain.com') }}</small>
    </div>
    <div class="form-group">
        <label for="password">{{ i18n.__(locale, 'Captcha') }}&nbsp;:</label>
        <div id="captchaError" style="display:none" class="formError badge badge-danger"></div>
        <div class="form-inline">
            <input type="text" class="zoia-reset-field form-control" id="captcha" aria-describedby="captchaHelp">
            <div class="zoia-captcha-wrap">
                <img src="/api/captcha" class="zoia-captcha-img" style="display:none">
            </div>
            <i class="fa fa-refresh zoia-captcha-refresh" aria-hidden="true"></i>
        </div>
        <small id="captchaHelp" class="form-text text-muted">{{ i18n.__(locale, '4 digits') }}</small>
    </div>
    <button class="btn btn-primary zoia-reset-btn" type="submit">
        <div class="zoia-spinner">
            <div class="zoia-spinner-bounce1"></div>
            <div class="zoia-spinner-bounce2"></div>
            <div class="zoia-spinner-bounce3"></div>
        </div>
        <div class="zoia-reset-btn-label">{{ i18n.__(locale, 'Reset') }}</div>
    </button>
</form>
<div id="requestSuccessful" style="display:none">
  <p>{{ i18n.__(locale, 'Request was successful.') }}</p>
  <p>{{ i18n.__(locale, 'Please check your mailbox and click the confirmation link.') }}</p>
</div>
<script type="text/javascript">
const lang = {{ lang }};
</script>
