<tr>
    <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
        <p>{{ i18n.__(locale, 'The prolongation of your hosting account was successful.') }}</p>
        <p><b>{{ i18n.__(locale, 'Days') }}:</b> {{days}}</p>
        <p>{{ i18n.__(locale, 'Please use the following credentials to access the hosting control panel') }}:</p>
        <p><b>{{ i18n.__(locale, 'Username:') }}</b> {{ username }}<br>
           <b>{{ i18n.__(locale, 'Control panel:') }}</b> <a href="{{ url }}">{{ url }}</a></p>
        <p>{{ i18n.__(locale, 'If you have any questions about your hosting account, please contact support to get help.') }}</p>   
    </td>
</tr>