<!DOCTYPE html>
<html lang="{{ i18n.getLocale() }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/zoia/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/zoia/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/zoia/perfect-scrollbar/css/perfect-scrollbar.min.css' />
    <link rel="stylesheet" href="/modules/admin/css/panel.css">
    <title>{{ i18n.__('Admin Panel') }}</title>
</head>

<body>
    <nav class="navbar admin-navbar-top navbar-inverse fixed-top">
        <span class="navbar-brand"><span class="hidden-md-up admin-nav-toggle"><i class="fa fa-bars fa-lg admin-nav-toggle-icon"></i>&nbsp;&nbsp;</span>{{ i18n.__('Zoia') }}</span>
    </nav>
    <div class="container-fluid admin-container-fluid h-100">
        <div class="row admin-main-row">
            <div class="col-md-auto admin-navbar hidden-sm-down">
                <div class="admin-navbar-wrap">
                    <ul class="nav flex-column">
                        <!-- <li class="nav-item admin-nav-item admin-nav-item-active">
                        <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Active</a>
                    </li>
                    <li class="nav-item admin-nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                    </ul>
                </div>
                <div class="admin-navbar-rsp"></div>
            </div>
            <div class="col admin-content">
                <div class="admin-content-shadow admin-content-shadow-hidden"></div>
            </div>
        </div>
    </div>
    <script src="/zoia/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/zoia/tether/tether.min.js" type="text/javascript"></script>
    <script src="/zoia/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/zoia/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/modules/admin/js/panel.js" type="text/javascript"></script>
</body>

</html>
