.zoiaTableSortingIndicator {
    font-size: 80%;
}

.za-pagination>li.za-active>a {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zoia-action-btn-mobile-wrap {
    margin-top: 10px;
}

.zoia-action-btn-mobile {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 90%;
    color: #111;
}

.zoia-action-btn-mobile:hover {
    color: #111;
    text-decoration: none;
    background: #eee;
}

.za-checkbox:selection {
    border: 1px solid #ddd;
    background: #ddd;
}

#zoiaEditDialogLoading {
    height: 200px;
}

.zoiaEditDialogLoadingSpinnerWrap {
    margin: 0 auto;
    width: 30px;
    padding-top: 85px;
    position: relative;
}

.editForm-help-text {
    font-size: 75%;
}

.editForm-field-wrap {
    margin-right: 5px;
}

#pages_actions {
    width: 90px;
}

.pagesSearchInput {
    height: 40px;
}

#pages>tbody>tr:hover {
    background: #FFF8E3;
}

.za-edit-buttons-wrap {
    margin: 40px 0 40px 0;
}

.zoia-folders-btn {
    padding: 10px;
}

.zoia-folders-btn-revert {
    padding: 10px;
}

#zoia_folders_tree {
    margin-top: 20px;
}

.editForm-folder-selector {
    padding: 6px 30px 0 30px;
    background: #efefef;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

.editForm-folder-selector:after {
    content: '/';
}

.zoia-edit-languages-area {
    margin-top: -20px;
    padding: 20px;
    border-top-style: hidden;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.zoia-spinner-dialog {
    background: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 15;
    top: 50%;
    left: 50%;
}

.zoia-folder-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    direction: rtl;
    text-align: left;
}

.pagesBtnSettings {
	padding: 9px;
}

.zoia-nav-default > li {
	padding-left: 0;
	padding-right: 0;
}

.zoia-nav-default > li > a {
	padding-left: 10px;
	padding-right: 10px;
}