.za-catalog-cart-total-wrap {
    padding-top: 20px;
    text-align: right;
    font-size: 120%;
}

.za-catalog-cart-total {
    font-weight: bold;
}

.za_catalog_order_submit_spinner>svg {
    width: 15px;
    margin-top:-3px;
    margin-right: 5px
}

@media (max-width: 959px) {
    .za-catalog-cart-total-wrap {
        text-align: left;
    }
}