.zoiaTableSortingIndicator {
    font-size: 80%;
}

.za-pagination>li.za-active>a {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zoia-action-btn-mobile-wrap {
    margin-top: 10px;
}

.zoia-action-btn-mobile {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 90%;
    color: #111;
}

.zoia-action-btn-mobile:hover {
    color: #111;
    text-decoration: none;
    background: #eee;
}

.za-checkbox:selection {
    border: 1px solid #ddd;
    background: #ddd;
}

#zoiaEditDialogLoading {
    height: 200px;
}

.zoiaEditDialogLoadingSpinnerWrap {
    margin: 0 auto;
    width: 30px;
    padding-top: 85px;
    position: relative;
}

.editForm-help-text {
    font-size: 75%;
}

.editForm-field-wrap {
    margin-right: 5px;
}

#warehouse_actions,
#properties_actions,
#collections_actions,
#delivery_actions,
#orders_actions {
    width: 90px;
}

.warehouseSearchInput {
    height: 40px;
}

#warehouse>tbody>tr:hover {
    background: #FFF8E3;
}

.za-edit-buttons-wrap {
    margin: 40px 0 40px 0;
}

.zoia-folders-btn {
    padding: 10px;
}

.zoia-folders-btn-revert {
    padding: 10px;
}

#zoia_folders_tree {
    margin-top: 20px;
}

.editForm-folder-selector,
.editForm-images-selector {
    padding: 6px 30px 0 30px;
    background: #efefef;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

.editForm-folder-selector:after {
    content: '/';
}

.zoia-edit-languages-area {
    margin-top: -20px;
    padding: 20px;
    border-top-style: hidden;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.zoia-spinner-dialog {
    background: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 15;
    top: 50%;
    left: 50%;
}

.zoia-folder-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    direction: rtl;
    text-align: left;
}

.warehouseBtnSettings,
.warehouseBtnSelectAll,
.warehouseBtnSelectNone,
.ordersBtnSelectAll,
.ordersBtnSelectNone {
    padding: 9px;
}

.zoia-nav-default>li {
    padding-left: 0;
    padding-right: 0;
}

.zoia-nav-default>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

#zoiaSpinnerDialog.za-modal {
    background: rgba(255, 255, 255, .6);
}

#zoia-upload-area {
    border: 1px dashed #ccc;
    min-height: 100px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#zoia-upload-files {
    padding-top: 25px;
}

.zoia-upload-files-label {
    margin-bottom: -15px;
    font-size: 11px;
    color: #222;
}

#imagesList {
    margin-left: 0px;
}

.warehouse-image-item {
    width: 130px;
    height: 130px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.warehouse-image-item>img {
    margin: 5px;
    width: 120px;
    height: 120px;
}

.warehouse-image-item-selected {
    background: #F3B562;
}

.zoiaImagesDialogHint {
    font-size: 90%;
    text-align: center;
    color: #666;
}

#zoiaSpinnerMain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .7;
    z-index: 900;
}

#editForm_properties_wrap:empty,
.addressFormDataItems:empty {
    display: none;
}

.za-catalog-cart-del,
.za-catalog-cost-del {
    cursor: pointer;
}

#za_catalog_order_btn_add_spinner>svg {
    width: 15px;
    margin-top: 4px;
    margin-right: 5px
}

.za-address-textarea {
    height: 150px;
}