<ul class="za-navbar-nav">
    <li>
        <a href="#"><span za-icon="world"></span>&nbsp;{{ names[locale] }}&nbsp;<span za-icon="icon:chevron-down"></a>
        <div class="za-navbar-dropdown">
            <ul class="za-nav za-navbar-dropdown-nav">
            	{% for lng in locales %}
                <li><a href="{% if type == 'query' %}?lang={{ lng }}{% else %}{{ protocol }}://{{ urls[lng] }}{{ originalUrl }}{% endif %}">{{ names[lng] }}</a></li>
            	{% endfor %}
            </ul>
        </div>
    </li>
</ul>