<article class="za-article za-margin">
    <div class="za-article-meta"><img src="{{ userData[item.authorId].url }}" class="za-border-circle" style="width:24px;height:24px;margin-top:-3px">&nbsp;{{ userData[item.authorId].username }}&nbsp;{{ item.timestamp }}</div>
    <div class="za-article-title"><a class="za-link-reset" href="{{ uprefix }}/blog/post/{{ item._id }}">{{ item[locale].title }}</a></div>
    {% if item[locale].keywords.length %}
    <div class="za-text-small">
        {% for tag in item[locale].keywords %}
        <a class="zoia-blog-tag" href="{{uprefix}}/blog?tag={{ tag }}">{{ tag }}</a>{% if loop.last != true %},{% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="za-margin-top">
        {{ item[locale].content_p1 }}{{ item[locale].content_p2 }}
    </div>
</article>
<div stye="display:none">
    <div id="zp_locale" data="{{ locale }}"></div>
</div>