{% for item in items %}
<article class="za-article za-margin{% if loop.first == false %} zoia-blog-article{% endif %}">
    <div class="za-article-meta"><img src="{{ usersData[item.authorId].url }}" class="za-border-circle" style="width:24px;height:24px;margin-top:-3px">&nbsp;{{ usersData[item.authorId].username }}&nbsp;{{ item.timestamp }}</div>
    <div class="za-article-title"><a class="za-link-reset" href="{{ uprefix }}/blog/post/{{ item._id }}">{{ item[locale].title }}</a></div>
    {% if item[locale].keywords.length %}
    <div class="za-text-small">
        {% for tag in item[locale].keywords %}
        <a class="zoia-blog-tag" href="?tag={{ tag }}">{{ tag }}</a>{% if loop.last != true %},{% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="za-margin-top">
        {{ item[locale].content_p1 }} {% if item[locale].cut %}
        <p>
            <a class="za-button za-button-default za-margin-top" href="{{ uprefix }}/blog/post/{{ item._id }}">{{ i18n.__(locale, 'Read more')}}</a>
        </p>
        {% endif %}
    </div>
</article>
{% endfor %} {% if paginationData.length %}
<ul class="za-pagination" za-margin>
    {% for item in paginationData %}{% if item.type === 'prev' %}
    <li><a href="?page={{ item.page }}&tag={{ tag }}"><span za-pagination-previous></span></a></li>
    {% endif %}{% if item.type === 'item' %}{% if item.status === 'active' %}
    <li class="za-active"><span>{{ item.page }}</span></li>
    {% else %}
    <li><a href="?page={{ item.page }}&tag={{ tag }}">{{ item.page }}</a></li>
    {% endif %}{% endif %}{% if item.type === 'dots' %}
    <li class="za-disabled"><span>...</span></li>
    {% endif %}{% if item.type === 'next' %}
    <li><a href="?page={{ item.page }}&tag={{ tag }}"><span za-pagination-next></span></a></li>
    {% endif %}{% endfor %}
</ul>
{% endif %}
<div stye="display:none">
    <div id="zp_locale" data="{{ locale }}"></div>
</div>