<article class="za-article za-margin">
    <div class="za-article-meta"><img src="{{ userData[item.authorId].url }}" class="za-border-circle" style="width:24px;height:24px;margin-top:-3px">&nbsp;{{ userData[item.authorId].username }}&nbsp;{{ item.timestamp }}</div>
    <div class="za-article-title"><a class="za-link-reset" href="{{ uprefix }}/blog/post/{{ item._id }}">{{ item[locale].title }}</a></div>
    {% if item[locale].keywords.length %}
    <div class="za-text-small">
        {% for tag in item[locale].keywords %}
        <a class="zoia-blog-tag" href="{{uprefix}}/blog?tag={{ tag }}">{{ tag }}</a>{% if loop.last != true %},{% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="za-margin-top">
        {{ item[locale].content_p1 }}{{ item[locale].content_p2 }}
    </div>
</article>
<div id="zoia_comments_loading">
    <div za-spinner style="margin-right:10px"></div>&nbsp;{{ i18n.__(locale, 'Loading comments, please wait')}}...
</div>
<div id="zoia_comments_wrap" style="display:none">
    <div class="za-margin-top za-margin-bottom" id="zoia_comments">
    </div>
    {% if auth %}
    <div class="za-card za-card-default za-card-small za-card-body za-width-1-2@m">
        <textarea class="za-textarea" rows="4" id="zoia_comment" placeholder="{{ i18n.__(locale, 'Comment text')}}"></textarea>
        <button class="za-button za-button-primary za-button-small za-margin-top" id="zoia_btn_addcomment">
            <div za-spinner class="zoiaButtonSpinner" style="display:none" id="zoia_btn_addcomment_spinner"></div>{{ i18n.__(locale, 'Add comment')}}
        </button>
    </div>
    {% endif %}
</div>
<div stye="display:none">
    <div id="zp_locale" data="{{ locale }}"></div>
    <div id="zp_userData" data='{{ userDataJSON }}'></div>
    <div id="zp_uprefix" data="{{ uprefix }}"></div>
    <div id="zp_postId" data="{{ item._id }}"></div>
    <div id="zp_comment" data='<div><article class="za-comment za-margin-bottom" data-id="{id}" data-level="{level}" style="margin-left:{offset}px"><div class="za-comment-meta"><img class="za-comment-avatar" src="/users/static/pictures/large_default.png" style="width:24px;height:24px;margin-top:-4px" alt="">&nbsp;Author</div><div>{comment}</div></article></div>'>
    </div>
</div>