<div>
    <ul class="za-breadcrumb">
        {% for c in breadcrumbs %} {% if c.url %}
        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
        {% else %}
        <li><span>{{ c.title }}</span></li>
        {% endif %} {% endfor %}
    </ul>
</div>
<a class="za-icon-button za-margin-small-right za-margin-bottom za-hidden@s" za-icon="icon:chevron-down" type="button" id="zoia_catalog_folders_toggle"></a>
<div class="za-grid-small za-child-width-expand" za-grid>
    <div class="za-width-medium@s za-visible@m za-margin-bottom" id="zoia_catalog_folders">
        <div class="za-card za-card-default za-card-small za-card-body">
            <ul class="za-nav za-nav-default">
                {% for folder in folders %}
                <li class="{{ folder.active }}"><a href="{{ folder.path }}">{{ folder.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <div class="za-flex za-flex-wrap">
        	{% for item in items %}
        	<div class="za-catalog-item">
        	<div class="za-catalog-image-wrap za-flex za-flex-center">{% if item.firstImage %}
        	<img src="/warehouse/static/images/{{ item._id }}/tn_{{ item.firstImage }}" class="za-catalog-image">
        	{% else %}
        	<div class="za-catalog-item-img-placeholder za-flex za-flex-center za-flex-middle"><span class="za-catalog-item-img-placeholder-icon" za-icon="icon:image;ratio:4"></span></div>
        	{% endif %}</div>
        	<div class="za-catalog-item-text za-text-truncate"><a href="{{ configModule.prefix }}/item/{{ item.sku }}">{{ item[locale].title }}</a></div>
        	<div class="za-catalog-item-price">{{ item.price }} {{ settings.currency }}</div>
        	</div>
        	{% endfor %}
        </div>
    </div>
</div>