<h1>{{ i18n.__(locale, 'My Orders')}}</h1>
<ul class="za-breadcrumb">
    <li><a href="{{ configModule.prefix }}">{{ i18n.__(locale, 'Catalog')}}</a></li>
</ul>
<div id="wrapOrders">
    <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="orders">
        <thead class="noselect" style="display:none">
            <tr>
                <th id="orders__id" class="za-table-shrink">{{ i18n.__(locale, 'ID')}}</th>
                <th id="orders_date">{{ i18n.__(locale, 'Order date')}}</th>
                <th id="orders_costs" class="za-table-shrink">{{ i18n.__(locale, 'Total')}}</th>
                <th id="orders_status" class="za-table-shrink">{{ i18n.__(locale, 'Status')}}</th>
                <th id="orders_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="100%">
                    <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ordersPagination za-margin-top noselect"></div>
</div>
<div id="wrapOrder" style="display:none">
	<h2>Order&nbsp;<span id="orderID"></span></h2>
</div>
<div id="zoiaSpinnerMain" style="display:none" class="za-flex za-flex-middle za-flex-center"><span za-spinner style="color:#000"></span></div>
<script type="text/javascript">
var lang = {{ lang }};
var settings = {{ settings }};
</script>