<tr>
    <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
        <p>{{ i18n.__(locale, 'An order on your website was paid by customer.') }}</p>
        <p><b>{{ i18n.__(locale, 'Order ID') }}:</b> {{ id }}<br>
        <b>{{ i18n.__(locale, 'Total sum') }}:</b> {{ sum }}</p>
        <p>{{ i18n.__(locale, 'Please check your admin panel to get more information on this order.') }}</p>   
    </td>
</tr>