<tr>
    <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
        <p>{{ i18n.__(locale, 'Thank you for your payment.') }}</p>
        <p><b>{{ i18n.__(locale, 'Order ID') }}:</b> {{ id }}<br>
        <b>{{ i18n.__(locale, 'Total sum') }}:</b> {{ sum }}</p>
        <p>{{ i18n.__(locale, 'If you have any questions about your order, please contact support to get help.') }}</p>   
    </td>
</tr>