<div id="wrapTable">
    <h1>{{ i18n.__(locale, 'title')}}</h1>
    <div class="za-grid za-grid-small">
        <div>
            <ul class="za-iconnav za-hidden@m">
                <li>
                    <button za-icon="icon:plus" class="za-icon-button zoiaAdd" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:trash" class="za-icon-button zoiaDeleteButton" title="{{ i18n.__(locale, 'Delete')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:check" class="za-icon-button warehouseBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <button za-icon="icon:close" class="za-icon-button warehouseBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                </li>
                <li>
                    <div class="za-inline">
                        <button za-icon="icon:cog" class="za-icon-button warehouseBtnSettings" title="{{ i18n.__(locale, 'Settings')}}" za-tooltip="pos:bottom-right"></button>
                        <div za-dropdown="mode:click">
                            <div class="za-width-1-1">
                                <ul class="za-nav za-nav-default zoia-nav-default">
                                    <li><a href="#" class="warehouseBtnSettingsDialog">{{ i18n.__(locale, 'Warehouse Settings')}}</a></li>
                                    <li><a href="#" class="warehouseBtnPropertiesListDialog">{{ i18n.__(locale, 'Properties List')}}</a></li>
                                    <li><a href="#" class="warehouseBtnCollectionsListDialog">{{ i18n.__(locale, 'Collections')}}</a></li>
                                    <li class="za-nav-divider"></li>
                                    <li><a href="#" class="warehouseBtnRepair">{{ i18n.__(locale, 'Repair database')}}</a></li>
                                    <li><a href="#" class="warehouseBtnRebuild">{{ i18n.__(locale, 'Re-build URL cache')}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="za-button-group za-margin-right za-visible@m">
                <button class="za-button za-button-success zoiaAdd">{{ i18n.__(locale, 'Add')}}</button>
                <button class="za-button za-button-danger zoiaDeleteButton">{{ i18n.__(locale, 'Delete')}}</button>
            </div>
            <div class="za-button-group za-visible@m">
                <button class="za-button za-button-default warehouseBtnSelectAll">{{ i18n.__(locale, 'Select all')}}</button>
                <button class="za-button za-button-default warehouseBtnSelectNone">{{ i18n.__(locale, 'Select none')}}</button>
            </div>
            <div class="za-button-group za-visible@m">
                <div class="za-inline">
                    <button class="za-button za-button-default warehouseBtnSettings"><span za-icon="icon:cog"></span></button>
                    <div za-dropdown="mode:click">
                        <div class="za-width-1-1">
                            <ul class="za-nav za-nav-default zoia-nav-default">
                                <li><a href="#" class="warehouseBtnSettingsDialog">{{ i18n.__(locale, 'Warehouse Settings')}}</a></li>
                                <li><a href="#" class="warehouseBtnPropertiesListDialog">{{ i18n.__(locale, 'Properties List')}}</a></li>
                                <li><a href="#" class="warehouseBtnCollectionsListDialog">{{ i18n.__(locale, 'Collections')}}</a></li>
                                <li class="za-nav-divider"></li>
                                <li><a href="#" class="warehouseBtnRepair">{{ i18n.__(locale, 'Repair database')}}</a></li>
                                <li><a href="#" class="warehouseBtnRebuild">{{ i18n.__(locale, 'Re-build URL cache')}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="za-width-expand za-visible@m">
            <div class="za-inline za-float-right">
                <a class="za-form-icon za-form-icon-flip warehouseSearchInputClear" za-icon="icon: close"></a>
                <input type="text" class="warehouseSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
            </div>
        </div>
    </div>
    <div>
        <div class="za-inline za-margin-top za-hidden@m">
            <a class="za-form-icon za-form-icon-flip warehouseSearchInputClear" za-icon="icon: close"></a>
            <input type="text" class="warehouseSearchInput za-input" placeholder="{{ i18n.__(locale, 'Search')}}">
        </div>
    </div>
    <div class="warehousePagination za-margin-top noselect"></div>
    <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="warehouse">
        <thead class="noselect" style="display:none">
            <tr>
                <th id="warehouseID" class="za-table-shrink"></th>
                <th id="warehouse_folder" class="za-table-shrink">{{ i18n.__(locale, 'Folder')}}</th>
                <th id="warehouse_sku" class="za-table-shrink">{{ i18n.__(locale, 'SKU')}}</th>
                <th id="warehouse_title">{{ i18n.__(locale, 'Title')}}</th>
                <th id="warehouse_price" class="za-table-shrink">{{ i18n.__(locale, 'Price')}}</th>
                <th id="warehouse_status" class="za-table-shrink">{{ i18n.__(locale, 'Status')}}</th>
                <th id="warehouse_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="100%">
                    <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}</td>
            </tr>
        </tbody>
    </table>
    <div class="warehousePagination za-margin noselect"></div>
</div>
<div id="zoiaEdit" style="display:none">
    <h1 id="zoiaEditHeader"></h1>
    <ul za-tab id="zoiaEditLanguages"></ul>
    <div class="za-fieldset za-margin-bottom zoia-edit-languages-area">
        <label>
            <input class="za-checkbox" type="checkbox" checked id="zoiaEditLanguageCheckbox">&nbsp;{{ i18n.__(locale, 'Enable language')}}
        </label>
    </div>
    <form id="editForm">
        <div class="za-flex za-flex-center za-margin-bottom">
            <div za-spinner></div>
        </div>
    </form>
</div>
<div id="zoiaFoldersDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Folders')}}</h2>
        </div>
        <div class="za-modal-body">
            <div class="za-button-group">
                <button class="za-button za-button-default zoia-folders-btn" id="zoiaFoldersAdd"><span za-icon="icon:plus"></span></button>
                <button class="za-button za-button-default zoia-folders-btn" id="zoiaFoldersEdit"><span za-icon="icon:pencil"></span></button>
                <button class="za-button za-button-danger zoia-folders-btn" id="zoiaFoldersDelete"><span za-icon="icon:trash"></span></button>
            </div>
            <div class="za-button-group">
                <button class="za-button za-button-secondary zoia-folders-btn-revert" id="zoiaFoldersRevert"><span za-icon="icon:reply"></span></button>
            </div>
            <div id="zoia_folders_tree"></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-folders-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-folders-dialog-button" id="zoiaFoldersDialogButton" type="button">{{ i18n.__(locale, 'Select')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaFoldersDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaRepairDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Repair database')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'Repair database and move missing items to the following folders')}}:</p>
            <div id="zoia_repair_tree"></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-repair-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-repair-dialog-button" id="zoiaRepairDialogButton" type="button">{{ i18n.__(locale, 'Select')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaRepairDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaFolderEditDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Edit Folder')}}</h2>
        </div>
        <form id="editFolderForm">
            <div class="za-flex za-flex-center za-margin-bottom">
                <div za-spinner></div>
            </div>
        </form>
    </div>
</div>
<div id="zoiaDeleteDialog" style="display:none">
    <div class="za-modal-dialog" za-overflow-auto>
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Delete')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'The following item(s) will be removed from the database')}}:</p>
            <ul class="za-list za-list-striped" id="zoiaDeleteDialogList"></ul>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-delete-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-delete-dialog-button" id="zoiaDeleteDialogButton" type="button">{{ i18n.__(locale, 'Delete')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaDeleteDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaDeletePropertyDialog" style="display:none">
    <div class="za-modal-dialog" za-overflow-auto>
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Delete')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'The following item(s) will be removed from the database')}}:</p>
            <ul class="za-list za-list-striped" id="zoiaDeletePropertyDialogList"></ul>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-deleteproperty-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-deleteproperty-dialog-button" id="zoiaDeletePropertyDialogButton" type="button">{{ i18n.__(locale, 'Delete')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaDeletePropertyDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaDeleteCollectionDialog" style="display:none">
    <div class="za-modal-dialog" za-overflow-auto>
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Delete')}}</h2>
        </div>
        <div class="za-modal-body">
            <p>{{ i18n.__(locale, 'The following item(s) will be removed from the database')}}:</p>
            <ul class="za-list za-list-striped" id="zoiaDeleteCollectionDialogList"></ul>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default za-modal-close zoia-deletecollection-dialog-button" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
            <button class="za-button za-button-primary zoia-deletecollection-dialog-button" id="zoiaDeleteCollectionDialogButton" type="button">{{ i18n.__(locale, 'Delete')}}</button>
            <div za-spinner style="float:right;display:none" id="zoiaDeleteCollectionDialogSpinner"></div>
        </div>
    </div>
</div>
<div id="zoiaImagesDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog" za-overflow-auto>
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Images')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaImagesDialogBody">
            <div class="za-flex za-flex-center za-flex-middle" id="zoia-upload-area">{{ i18n.__(locale, 'Drag files or click here to upload')}}</div>
            <div id="zoia-upload-files" style="display:none"></div>
            <div id="imagesList" class="za-margin-top za-flex za-flex-wrap" za-sortable="handle:.za-card"></div>
            <div class="za-margin-top">
                <button class="za-button za-button-danger za-button-small" type="button" id="imagesListBtnDel">{{ i18n.__(locale, 'Delete selected')}}</button>
            </div>
            <div class="za-margin-top zoiaImagesDialogHint">{{ i18n.__(locale, 'The first image is a default one. Use drag and drop to manage images order.')}}</div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaImagesDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button" id="zoiaImagesDialogBtnClose" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaPropertiesListDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Properties List')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaPropertiesListDialogBody" za-overflow-auto>
            <div class="za-grid za-grid-small">
                <div>
                    <ul class="za-iconnav">
                        <li>
                            <button za-icon="icon:plus" class="za-icon-button zoiaPropertyAdd" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:trash" class="za-icon-button zoiaPropertyDeleteButton" title="{{ i18n.__(locale, 'Delete')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:upload" class="za-icon-button zoiaPropertiesImportButton" title="{{ i18n.__(locale, 'Import Properties from CSV')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:check" class="za-icon-button propertiesBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:close" class="za-icon-button propertiesBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                    </ul>
                </div>
                <div class="za-width-expand">
                    <div class="za-inline za-float-right">
                        <a class="za-form-icon za-form-icon-flip propertiesSearchInputClear" za-icon="icon: close"></a>
                        <input type="text" class="propertiesSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
                    </div>
                </div>
            </div>
            <div class="propertiesPagination za-margin-top noselect"></div>
            <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="properties">
                <thead class="noselect" style="display:none">
                    <tr>
                        <th id="propertiesID" class="za-table-shrink"></th>
                        <th id="properties_pid" class="za-table-shrink">{{ i18n.__(locale, 'ID')}}</th>
                        <th id="properties_title">{{ i18n.__(locale, 'Title')}}</th>
                        <th id="properties_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%">
                            <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="propertiesPagination za-margin noselect"></div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaPropertiesListDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button za-modal-close" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaPropertySelectDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Properties List')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaPropertiesListDialogBody" za-overflow-auto>
            <div class="za-grid za-grid-small">
                <div>
                    <ul class="za-iconnav">
                        <li>
                            <button za-icon="icon:chevron-down" class="za-icon-button zoiaPropertySelect" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:check" class="za-icon-button propertyselectBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:close" class="za-icon-button propertyselectBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                    </ul>
                </div>
                <div class="za-width-expand">
                    <div class="za-inline za-float-right">
                        <a class="za-form-icon za-form-icon-flip propertyselectSearchInputClear" za-icon="icon: close"></a>
                        <input type="text" class="propertyselectSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
                    </div>
                </div>
            </div>
            <div class="propertyselectPagination za-margin-top noselect"></div>
            <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="propertyselect">
                <thead class="noselect" style="display:none">
                    <tr>
                        <th id="propertyselectID" class="za-table-shrink"></th>
                        <th id="propertyselect_pid" class="za-table-shrink">{{ i18n.__(locale, 'ID')}}</th>
                        <th id="propertyselect_title">{{ i18n.__(locale, 'Title')}}</th>
                        <th id="propertyselect_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%">
                            <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="propertyselectPagination za-margin noselect"></div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaPropertiesListDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button za-modal-close" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaCollectionsListDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Collections')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaCollectionsDialogBody" za-overflow-auto>
            <div class="za-grid za-grid-small">
                <div>
                    <ul class="za-iconnav">
                        <li>
                            <button za-icon="icon:plus" class="za-icon-button zoiaCollectionAdd" title="{{ i18n.__(locale, 'Add')}}" za-tooltip="pos: bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:trash" class="za-icon-button zoiaCollectionDeleteButton" title="{{ i18n.__(locale, 'Delete')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:check" class="za-icon-button collectionsBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:close" class="za-icon-button collectionsBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                    </ul>
                </div>
                <div class="za-width-expand">
                    <div class="za-inline za-float-right">
                        <a class="za-form-icon za-form-icon-flip collectionsSearchInputClear" za-icon="icon: close"></a>
                        <input type="text" class="collectionsSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
                    </div>
                </div>
            </div>
            <div class="collectionsPagination za-margin-top noselect"></div>
            <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="collections">
                <thead class="noselect" style="display:none">
                    <tr>
                        <th id="collectionsID" class="za-table-shrink"></th>
                        <th id="collections_title">{{ i18n.__(locale, 'Title')}}</th>
                        <th id="collections_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%">
                            <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="collectionsPagination za-margin noselect"></div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaCollectionsDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button za-modal-close" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaCollectionSelectDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Collections')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaCollectionSelectDialogBody" za-overflow-auto>
            <div class="za-grid za-grid-small">
                <div class="za-width-expand">
                    <div class="za-inline za-float-right">
                        <a class="za-form-icon za-form-icon-flip collectionselectSearchInputClear" za-icon="icon: close"></a>
                        <input type="text" class="collectionselectSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
                    </div>
                </div>
            </div>
            <div class="collectionselectPagination za-margin-top noselect"></div>
            <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="collectionselect">
                <thead class="noselect" style="display:none">
                    <tr>
                        <th id="collectionselect_title">{{ i18n.__(locale, 'Title')}}</th>
                        <th id="collectionselect_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%">
                            <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="collectionselectPagination za-margin noselect"></div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaCollectionSelectDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button za-modal-close" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaSettingsDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Settings')}}</h2>
        </div>
        <form id="editSettingsForm">
            <div class="za-flex za-flex-center za-margin-top">
                <div za-spinner class="za-margin-bottom"></div>
            </div>
        </form>
    </div>
</div>
<div id="zoiaPropertyEditDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-margin-top za-margin-bottom za-modal-header za-flex za-flex-center za-flex-middle zoiaPropertyEditDialogSpinner" style="display:none">
            <span za-spinner></span>
        </div>
        <div class="zoiaPropertyEditDialogWrap">
            <div class="za-modal-header">
                <h2 id="zoiaPropertyEditDialogHeader"></h2>
            </div>
            <form id="editPropertyForm">
                <div class="za-flex za-flex-center za-margin-top">
                    <div za-spinner class="za-margin-bottom"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="zoiaCollectionEditDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-margin-top za-margin-bottom za-modal-header za-flex za-flex-center za-flex-middle zoiaCollectionEditDialogSpinner" style="display:none">
            <span za-spinner></span>
        </div>
        <div class="zoiaCollectionEditDialogWrap">
            <div class="za-modal-header">
                <h2 id="zoiaCollectionEditDialogHeader"></h2>
            </div>
            <form id="editCollectionForm">
                <div class="za-flex za-flex-center za-margin-top">
                    <div za-spinner class="za-margin-bottom"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="zoiaPropertiesSelectDialog" style="display:none" class="za-modal-container">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Properties List')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaPropertiesSelectDialogBody" za-overflow-auto>
            <div class="za-grid za-grid-small">
                <div>
                    <ul class="za-iconnav">
                        <li>
                            <button za-icon="icon:chevron-down" class="za-icon-button zoiaSelectedPropertyAdd" title="{{ i18n.__(locale, 'Add selected')}}" za-tooltip="pos: bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:check" class="za-icon-button propertiesselectBtnSelectAll" title="{{ i18n.__(locale, 'Select all')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                        <li>
                            <button za-icon="icon:close" class="za-icon-button propertiesselectBtnSelectNone" title="{{ i18n.__(locale, 'Select none')}}" za-tooltip="pos:bottom-right"></button>
                        </li>
                    </ul>
                </div>
                <div class="za-width-expand">
                    <div class="za-inline za-float-right">
                        <a class="za-form-icon za-form-icon-flip propertiesselectSearchInputClear" za-icon="icon: close"></a>
                        <input type="text" class="propertiesselectSearchInput za-input za-width-medium" placeholder="{{ i18n.__(locale, 'Search')}}">
                    </div>
                </div>
            </div>
            <div class="propertiesselectPagination za-margin-top noselect"></div>
            <table class="za-table za-table-divider za-table-striped za-table-hover za-table-responsive za-table-middle" id="propertiesselect">
                <thead class="noselect" style="display:none">
                    <tr>
                        <th id="propertiesselectID" class="za-table-shrink"></th>
                        <th id="propertiesselect_pid" class="za-table-shrink">{{ i18n.__(locale, 'ID')}}</th>
                        <th id="propertiesselect_title">{{ i18n.__(locale, 'Title')}}</th>
                        <th id="propertiesselect_actions" class="za-table-shrink">{{ i18n.__(locale, 'Actions')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100%">
                            <div za-spinner style="margin:-2px 5px 0 0"></div>&nbsp;{{ i18n.__(locale, 'Loading data, please wait')}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="propertiesselectPagination za-margin noselect"></div>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaPropertiesSelectDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right">
            <button class="za-button za-button-default zoia-images-dialog-button" id="zoiaPropertiesSelectDialogCloseBtn" type="button">{{ i18n.__(locale, 'Done')}}</button>
        </div>
    </div>
</div>
<div id="zoiaPropertiesImportDialog" style="display:none">
    <div class="za-modal-dialog">
        <div class="za-modal-header">
            <h2>{{ i18n.__(locale, 'Import Properties from CSV')}}</h2>
        </div>
        <div class="za-modal-body" id="zoiaPropertiesImportDialogBody">
            <div class="pimport-upload za-placeholder za-text-center">
                <span class="za-text-middle">{{ i18n.__(locale, 'Attach CSV file by dropping it here or')}}</span>
                <div za-form-custom>
                    <input type="file" multiple>
                    <span class="za-link" style="cursor:pointer">{{ i18n.__(locale, 'selecting one')}}</span>
                </div>
            </div>
            <progress id="pimport_progressbar" class="za-progress" value="0" max="100" hidden></progress>
        </div>
        <div class="za-modal-body za-flex za-flex-center za-flex-middle" id="zoiaPropertiesImportDialogSpinner" style="display:none">
            <div za-spinner></div>
        </div>
        <div class="za-modal-footer za-text-right" id="zoiaPropertiesImportDialogFooter">
            <button class="za-button za-button-default zoia-images-dialog-button za-modal-close" type="button">{{ i18n.__(locale, 'Cancel')}}</button>
        </div>
    </div>
</div>
<div id="zoiaSpinnerMain" style="display:none" class="za-flex za-flex-middle za-flex-center"><span za-spinner style="color:#000"></span></div>
<script type="text/javascript">
var lang = {{ lang }};
var langs = {{ langs }};
var foldersData = {{ folders }};
var testMode = {{ config.testMode }};
var settings = {{ settings }};
</script>