#zoia_account_tabs>*>a {
    text-decoration: none;
}

.zoia-account-id-mobile {
    margin: 0 0 -20px 0;
    font-size: 120%;
}

.za-notification-message {
    opacity: 1;
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.34);
    text-align: center;
}

.zoiaButtonSpinner>svg {
    width: 15px;
    margin-top: -1px;
    margin-right: 10px;
}

.zoia-form-error-message {
    margin-top: 3px;
}

.zoia-form-error-message>span {
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}

@media (max-width: 450px) {
    #zoia_act_password_confirm {
        margin-top: 3px;
    }
}