.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zoia-header-font {
	font-size: 220%;	
}

.zoia-ticker-name {
	color: #fff;
}

.zoia-ticker-full-name {
	color: #ddd;
}