.zoia-blog-label {
	background: #dadada;
	color: #444;
}

.za-article-title {
	color: #444;
}

.zoia-blog-article {
	padding-top: 20px;
}

.zoia-blog-tag {
	text-decoration: none;
}

.za-article-meta {
	color: #777;
}

.zoiaButtonSpinner>svg {
    width: 15px;
    margin-top: -2px;
    margin-right: 10px;
}